{% extends 'base.html' %}
{% block title %}
Users List
{% endblock title %}
{% block row-title %}
Items List
{% endblock row-title %}
{% block ol %}

{% endblock ol %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Office</th>
        </tr>
    </thead>
    <tbody>
        {% for user in list_user %}
        <tr>
            <td> {{user.username|upper}} </td>
            <td> {{user.first_name|upper}} </td>
            <td> {{user.last_name|upper}} </td>
            <td> {{user.userprofile.office|upper}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}